*{
    box-sizing: border-box;
   
   
}


body{
    background-color: rgb(225, 233, 239);
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}




.uwu{
    display: flex;
    height: 210px;
    width: 55%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;


}

div{
    display: flex;
    border: 1px solid black;
    height: 300px;
    width: 25%;
    box-shadow: 2px 2px 2px 2px rgb(100, 100, 100);
    flex-direction: column;
    margin: 18% 6% 2% 2%;
    background-color: aliceblue;
    border-radius: 10px;


}

span{
    display: flex;
    justify-content: center;
    color: rgb(20, 136, 174);
}
span:hover{
   
    color: rgb(47, 47, 241);
}


input{
    height: 45px;
    width: 70%;
    margin: 6% 9% 0% 13%;
    border-radius: 5px;
    border: 1px solid  gainsboro;


}



#login{
    height: 40px;
    width: 70%;
    margin: 2% 0% 4% 13%;
    background-color: rgb(51, 97, 223);
    border-radius: 5px;
    color: white;
    

    
}

hr{
    border-bottom: 1px solid rgb(199, 198, 198);
    width: 90%;
}

#create{
    height: 40px;
    width: 70%;
    background-color: rgb(6, 136, 6);
    color:white;
    margin: 1% 0% 1% 13%;
    border-radius: 5px;
}



h1{
    justify-content: flex-start;
    color: rgb(51, 97, 223);
    font-size: 50px;
}

p{
    font-size: 25px;
}


@media (max-width: 768px) {
    div {
        width: 45%;
        margin: 10% auto;
    }
}

@media (max-width: 576px) {
    div {
        width: 70%;
        margin: 15% auto;
        display: flex;
        flex-direction: column;
    }

    input,
    #login,
    #create {
        width: 100%;
    }
}

